<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>질문답변 게시판</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
 <div align="center">
 	<h2>질문 답변 게시판</h2>
 </div>
 <div class="container my-3"> 
  <table class="table">
   	<tr>
   		<th>번호</th>
   		<th>제목</th>
   		<th>게시일</th>
   	</tr>
   	
    <tr th:each="question:${questionList}">
    	<td th:text="${question.id}">번호</td>
    	<td>
    		<a th:href="@{|/questionView/${question.id}|}" th:text="${question.subject}"></a>
    	</td>
    	<td th:text="${#temporals.format(question.createDate,'yyyy-MM-dd HH:mm')}">게시일</td>
    </tr>
  </table>
  <a th:href="@{/question_form}" class="btn btn-primary my-2">질문등록</a>
</div>  
</body>
</html>